<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./templates/head'); %>
</head>

<body class="container-fluid text-center">

    <header>  <%- include('./templates/header'); %> </header>

   
    <form action='/search' method="post">
        <input type="text" name="movie" placeholder="Search for a movie" required/>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>    
 
     
</body>
</html>